@model IEnumerable<DemoAviacao.Models.RotaModel>
<div class="row">
    <div class="col-sm-4">
        <table id="DataTable" class="table table-hover table-bordered table-sm">
            @if (Model.Count() == 0)
            {
                <tbody>
                    <tr>
                        Nenhuma rota cadastrada.
                    </tr>
                </tbody>
            }
            else
            {
                <thead class="text-center">
                    <tr>
                        <th class="text-center"><strong>Origem</strong></th>
                        <th class="text-center"><strong>Destino</strong></th>
                        <th class="text-center"><strong>% Comparecimento</strong></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        using (Html.BeginForm("_PartialRotas", "Parametros", FormMethod.Post, null))
                        {
                            <tr>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Origem)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.Destino)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.ProbabilidadeComparecer)%</td>
                                <td class="text-center"><button type="submit" class="btn btn-sm btn-danger" name="action" value="excluir"><span class="glyphicon glyphicon-remove"></span></button> <input type="text" class="form-control input-sm hidden" id="itemid" name="itemid" hidden="hidden" value="@item.ID"></td>
                            </tr>
                        }
                    }
                </tbody>
            }
         </table>
    </div>
    <div class="col-sm-8">
        @using (Html.BeginForm("_PartialRotas", "Parametros", FormMethod.Post, new { id = "frmRota", @class = "form-inline" }))
        {
            <div class="form-group">
                <label for="origem">Orgiem:</label>
                <input type="text" class="form-control input-sm" id="origem" name="origem" required>
            </div>
            <div class="form-group">
                <label for="destio">Destino:</label>
                <input type="text" class="form-control input-sm" id="destio" name="destino" required>
            </div>
            <div class="form-group">
                <label for="probabilidade">% Comparecimento:</label>
                <input type="number" max="100" min="1" class="form-control input-sm" id="probabilidade" name="probabilidade" required>
            </div>
            <button type="submit" class="btn btn-default" name="action" value="add">Incluir</button>
        }
    </div>
</div>

